* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   -webkit-user-select: none;
   -webkit-app-region: drag;
}
.start-ani {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.start-bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    background-image: linear-gradient(90deg, rgb(119, 129, 252), rgb(95, 81, 246));
    animation: animation 5s ;
    animation-iteration-count: infinite;

}
.start-bg>img{
    height: 28px;
    width: 28px;
    animation: icon 5s;
    animation-iteration-count: infinite;
}
@keyframes animation {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    50% {
        height: 56px;
        width: 56px;
        transform: rotate(0);

    }
    100%{
        transform: rotate(180deg);
    }
}
@keyframes icon {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0;
       
    }

    50% {
        height: 28px;
        width: 28px;
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}
